* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}



/* ==================== */
/* start header content */
.header {
    margin-top: 10px;
    background-color: white;
    height: 50px;
    /* box-shadow: -30px 5px -1px 1px #414141; */
    box-shadow: 2px 20px 2px rgba(110, 110, 110, 0.8);
}

.left-header {
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
}

.right-header {
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

.input-header-1, .input-header-2 {
    padding: 10px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
    font-size: 15px;
    margin-right: 5px;
    width: 160px;
    outline: none;
}

.input-header-1:hover {
    border: 1px solid black;
}

.input-header-2:hover {
    border: 1px solid black;
}

.input-header-1:focus {
    border: 1px solid rgb(34, 122, 223);
}

.input-header-2:focus {
    border: 1px solid rgb(34, 122, 223);
}


.btn-header-1 {
    padding: 10px;
    width: 70px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgb(27, 116, 228);
    background-color: rgb(27, 116, 228);
    color: white;
    border-radius: 5px;
    margin-right: 10px;
}

.btn-header-1:hover {
    background-color: rgb(20, 101, 199);
    cursor: pointer;
}

.btn-header-2 {
    color: #286FDB;
    margin-top: 10px;
    font-size: 15px;
}

.btn-header-2:hover {
    text-decoration: underline;
}
/* end header content */



/* ================== */
/* start main content */
.main {
    background-color: #E9EBEE;
    height: 440px;
}

.box {
    border: 1px solid white;
    width: 470px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -2px 5px 10px 1px #d3d3d3;
}

.text-main-1 {
    font-size: 20px;
    font-weight: bold;
}

hr {
    opacity: 0.2;
    width: 510px;
    margin-left: -21px;
}

.text-main-2 {
    width: 400px;
}

.input-main-1 {
    padding: 15px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 8px;
    font-size: 17px;
    margin-right: 5px;
    width: 440px;
    outline: none;
}

.right-box {
    text-align: right;
}

.btn-main-1, .btn-main-2 {
    padding: 10px;
    width: 70px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgb(27, 116, 228);
    background-color: rgb(27, 116, 228);
    color: white;
    border-radius: 5px;
    margin-right: 5px;
}

.btn-main-1 {
    background-color: #E4E6EB;
    border: 1px solid #E4E6EB;
    color: rgb(48, 48, 48);
}

.btn-main-1:hover {
    cursor: pointer;
}

.btn-main-2:hover {
    background-color: rgb(34, 108, 197);
    cursor: pointer;
}
/* end main content */



/* ==================== */
/* start footer website */
.footer {
    width: 1000px;
    margin: auto;
    margin-top: 150px;
    font-size: 12px;
}

.footer a {
    text-decoration: none;
    color: #8b8b8b;
    margin-right: 15px;
}

.footer hr {
    opacity: 0.5;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 1px;
    width: 950px;
}

.footer p {
    color: #636363;
}

.link_footer {
    line-height: 20px;
}